*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


body {
	letter-spacing: 2px;
	margin: auto;
	overflow: auto;
}


header {
	font-family: serif;
	padding: 10 0 90 10;
	float: right;
	width: 90%;
	color: #8eb8a4;
	font-size: 2em;
}
nav {
	font-family: Raleway, sans-serif;
	color: #ccc;
	padding-bottom: 30px;
	float: left;
	width: 10%;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	padding: 0;
}

article {
	font-family: Raleway, sans-serif;
	color: #000;
	width: 100%;
}
a {
	text-decoration: none;
	color: #000;
}
a:visited {
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}