*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

	
body {
	text-align: center;
	width: 800px;
	margin: auto;
	font-family: Raleway, sans-serif;
	letter-spacing: 2px;
}
header {
	padding-top: 30px;
	font-family: serif;
	font-size: 2em;
}
a {
	text-decoration: none;
	color: #000;
}
a:visited {
	text-decoration: none;
}
a:hover {
	color: #cecece;
	text-decoration: underline;
}
nav {
	padding-bottom: 30px;
}
footer {
	font-size: .7em;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 50px;
	text-align: center;
}